# Extensions and scripts that are needed to be installed at initdb
#
# Each module listed in this file will be installed by initdb
# in the same order as listed in this file.
#
# Each line can contain only single entry, while the empty
# lines and lines starting with # gets ignored.
#
# lines begining with @ are considered as extension names and initdb
# will use CREATE EXTENSION for those.
#
# All other lines that do not start with '@' are considered as SQL scripts
# and initdb will look for those in 'share/postgresql/contrib/' directory

@Orafce

