global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    timeout check 5s

listen primary
    bind *:5432
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server ivory-1 ivory-1:5432 check port 8008
    server ivory-2 ivory-2:5432 check port 8008
    server ivory-3 ivory-3:5432 check port 8008

listen replicas
    bind *:5433
    balance roundrobin
    option httpchk GET /replica?lag=16MB
    http-check expect status 200
    default-server inter 2s fall 3 rise 2
    server ivory-1 ivory-1:5432 check port 8008
    server ivory-2 ivory-2:5432 check port 8008
    server ivory-3 ivory-3:5432 check port 8008

listen statistics
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    monitor-uri /health
