#------------------------------------------------------------------------------
#Oracle COMPATIBLE Mode GUC parameters
#------------------------------------------------------------------------------

#ivorysql.listen_addresses = 'localhost'		# what IP address(es) of Oracle mode to listen on;
					# comma-separated list of addresses;
					# defaults to 'localhost'; use '*' for all
					# (change requires restart)
#ivorysql.port = 1521		# (change requires restart)

ivorysql.enable_emptystring_to_NULL = 'on'
shared_preload_libraries = 'liboracle_parser, ivorysql_ora'		# (change requires restart)
ivorysql.identifier_case_switch = interchange   				#set the case conversion mode.  range [normal,interchange,lowercase]
