/results
/log
/tmp_check
/testlibpq
/testlibpq.diffs
/testlibpq_allout
/testlibpq_allout.diffs
/testlibpq_binary_double
/testlibpq_binary_double.diffs
/testlibpq_binary_float
/testlibpq_binary_float.diffs
/testlibpq_interval
/testlibpq_interval.diffs
/testlibpq_nullstmt
/testlibpq_nullstmt.diffs
/testlibpq_number
/testlibpq_number.diffs
/testlibpq_prepare_dml
/testlibpq_prepare_dml.diffs
/testlibpq_prepare_plsql
/testlibpq_prepare_plsql.diffs
/testlibpqstmt2
/testlibpqstmt2.diffs
