IVORYSQL_USER=ivorysql
IVORYSQL_PASSWORD=replace-with-a-long-database-password
IVORYSQL_REF=IvorySQL_5.4
BACKUP_STANZA=ivorysql
BACKUP_CIPHER_TYPE=aes-256-cbc
BACKUP_CIPHER_PASS=replace-with-a-long-independent-repository-passphrase
BACKUP_REQUIRE_ENCRYPTION=true
BACKUP_RETENTION_FULL=2
BACKUP_RETENTION_DIFF=4
BACKUP_FULL_MAX_AGE=8d
BACKUP_ANY_MAX_AGE=26h
BACKUP_MINIMUM_SIZE=1MiB
BACKUP_PROCESS_MAX=2
BACKUP_COMPRESS_TYPE=zst
BACKUP_COMPRESS_LEVEL=3
IVORYSQL_IMAGE_TAG=5.4-pgbackrest-2.59.0
PGBACKREST_VERSION=2.59.0
PGBACKREST_SHA256=faaf8faa14a6392279654ee216a493fcd07b0c513af4b55fe34faec062cb8875
